<% if @restore_data %>
  <script type="text/javascript">
    $(function(){
      reinitialize_pomodoro(<%= @sequence.to_json.html_safe %>, <%= @restore_data.to_json.html_safe %>);
    });
  </script>
<% end %>

<div id="control-buttons">
  <div id="start-button">
    <%= link_to "Start new pomodoro", "/pomodoros/start", remote: true %>
  </div>
  <div id="pause-button">
    <%= link_to "Pause", "/pomodoros/pause", remote: true   %>
  </div>

  <div id="resume-button">
    <%= link_to "Resume", "/pomodoros/resume", remote: true %>
  </div>
</div>
<div id="timer">
  Hello
</div>

<table id="sequence-table">
  <tbody>
    <tr>
      <th>Type</th>
      <th>Duration</th>
    </tr>
  </tbody>
</table>
